/* You can add global styles to this file, and also import other style files */

.alto{
    height: 100% !important;
}
.centrarHV{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrarH{
    display: flex;
    justify-content: center;
}

.enviarDerecha{
    text-align: end;
}

.borde{
    border: solid 1px red;
}