/* You can add global styles to this file, and also import other style files */

.alto{
    height: 100% !important;
}
.centrarHV{
    display: flex;
    align-items: center;
    justify-content: center;
}